/**
 * @author	Rick Wu (a.k.a 小武)
 */
@charset "utf-8";
@font-face{font-family:'FontAwesome';font-style:normal;font-weight:normal;src: url('../FONT/fontawesome-webfont.eot?v=4.3.0');src: url('../FONT/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../FONT/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../FONT/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../FONT/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../FONT/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg')}
.fontAwesome{font-family:'FontAwesome'}
.download{border:4px solid #FFF}
.download td{border-right:4px solid #FFF}
.download td.fontAwesome{font-size:16px;cursor:default}
.downloadtitle{height:32px;color:#FFF;background:#E36B39}
.downloadList{border-top:4px solid #FFF;height:32px;background:#F9E1D7}
.downloadList .title{padding-left:20px}
.downloadList a{color:#5691CD;font-weight:bold}